[Desktop Entry]
Type=Application
Name=zhscript ide
Name[zh_CN]=中文脚本开发环境
MimeType=application/x-zhscript;
Exec=/usr/lib/zhscript2/edit/ui %f
Terminal=false
Categories=GNOME;GTK;Development;
StartupNotify=true
Icon=/usr/lib/zhscript2/edit/icon.png

